<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Newsletters</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="header">
    <h1>Data Visualization</h1>
    <h2>Charts based on data from postgres</h2>
</div>

<div class="chart-section">
    <div class="chart-card">
        <img th:src="@{/chart.png}" alt="Chart Image" />
    </div>
    <!-- Add more chart cards as needed -->
</div>
</body>



</html>
